*{
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 8fr 4fr;
    grid-template-rows: auto 5fr 5fr 2fr;
    margin: 0;
    gap: 24px;
    background-color: #efefef;
    min-height: 100vh;
}

.sidebar{
    grid-row: 1/-1;
    background-color: #ff2c2c;
    display: grid;
    grid-template-rows: subgrid;
    justify-items: center;
}

.sidebar .sub{
    display: flex;
    grid-row: 2/span 2;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.sub .icon img{
    height: 24px;
}

.icon img{
    height: 32px;
}

.header-icon img{
    height: 48px;
}

.wrapper.search{
    width: 75%;
    position: relative;
}

.input{
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 4px 12px;
}

input:focus{
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.wrapper.search::after{
    content: "🔍";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.profile{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 24px;
}

.pfp img{
    border-radius: 50%;
    height: 36px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.profile .icon img{
    height: 24px;
}

.footer-icon{
    padding-bottom: 24px;
}

.first-row{
    margin-top: 24px;
}

.quote{
    background-image: url(images/quoteBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    padding: 24px 48px;
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.quote > .quoteHeader{
    border: none;
    background-color: #79baec;
    color: white;
    border-radius: 4px;
    padding: 6px;
}

.quote > .content{
    font-size: 2rem;
}